/* 
    Document   : style
    Created on : Aug 16, 2011, 5:16:28 AM
    Author     : J0hnD03
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#k1-list-pages table {
    width: 225px;
    float: left;
}
#k1-list-pages table a:hover img {
	border: 2px solid #666;
}
#k1-list-pages table img {
    margin: 0px;
/*    border: 2px solid #F9F9F9;*/
	border: 2px solid #CCC;
}
#k1-list-pages table td.thumb {
    padding-left: 10px;
    height: 60px;
    width: 60px;
}
#k1-list-pages table td.link {
    font-size: 15px;
    padding-left: 10px;
}